{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/about.css">
<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'><body>

    <style>body[data-theme='light'] {
        background-color: #ffffff;
        color: #000000;
    }
        
    body[data-theme='dark'] {
        background-color: #1e7537;
        color: #ffffff;
    }</style>
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>

    <section>
  		<p>Welcome to Drew University's Faculty Committee Application! Our professors and faculty actively contribute to the university's mission through diverse services, including committee participation. Using a streamlined form, we track and analyze their contributions, ensuring transparency in annual performance reviews. Join us in celebrating a culture of academic excellence and collaborative service at Drew University.<p>
        <p>This application was built by Deven Mistry, Connor Fair, Dhruv Erry, Zeyu Min and Ephraim Smith.</p>
    </section>
    <script>
        // Apply theme based on stored preference or default to light mode
        let storedTheme = localStorage.getItem("theme") || "light";
        document.body.setAttribute("data-theme", storedTheme);
    </script>
</body>
</html>