{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 20px;
            
        }

        section {
            max-width: 800px;
            margin: auto;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #666;
        }
    </style>
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>

    <section>
  		<p>Welcome to Drew University's Faculty Service Hub! Our faculty actively contribute to the university's mission through diverse services, including committee participation. Using a streamlined form, we track and analyze their contributions, ensuring transparency in annual performance reviews. Join us in celebrating a culture of academic excellence and collaborative service at Drew University.<p>
        
    </section>

</body>
</html>