<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to the Faculty Committee Application.</h1>
    <p>Use the links below to login to your account.</p>
    <ul>
        <li><a href="/loginP">Professor Sign In</a></li>
        <li><a href="/loginA">Administrator Sign In</a></li>
    </ul>

    <script>
        // Apply theme based on stored preference or default to light mode
        let storedTheme = localStorage.getItem("theme") || "light";
        document.body.setAttribute("data-theme", storedTheme);
    </script>
</body>
</html>