<!DOCTYPE html>
<html>
<head>
    <title>Professor Login</title>
</head>
<body>
    <form method="post" action="/">
        <input type="submit" value="Home Button" name="/" style="background-color: #3374FF; color: white; padding: 10px 20px; font-weight: bold;"/>
    </form>
    <h1 style="color: #FF5733;">Please use your DrewID to login</h1>

    <form method="post" action="/loginButtonP">
        <input type="submit" value="Login" name="/loginP" style="background-color: #FF5733; color: white; padding: 10px 20px; font-weight: bold;"/>
    </form>
</body>
</html>
