<!DOCTYPE html>
<html>
    <style>body[data-theme='light'] {
        background-color: #ffffff;
        color: #000000;
    }
        
    body[data-theme='dark'] {
        background-color: #1e7537;
        color: #ffffff;
    }</style>
<head>
    <title>Administrator Login</title>
</head>
<body>
    <form method="post" action="/">
        <input type="submit" value="Home Button" name="/"/>
    </form>
    <h1>Please use your DrewID to login</h1>
    

    <form method="post" action="/loginButtonA">
        <input type="submit" value="Login" name="/loginButtonAOG"/>
    </form>
    <script>
        // Apply theme based on stored preference or default to light mode
        let storedTheme = localStorage.getItem("theme") || "light";
        document.body.setAttribute("data-theme", storedTheme);
      </script>
</body>
</html>