<!DOCTYPE html>
<html>
<head>
    <title>Professor Login</title>

    <head>
        <style>
                
            /* Default light mode styles */
            body[data-theme='light'] {
                background-color: #ffffff;
                 color: #000000;
            }
            
            body[data-theme='dark'] {
                background-color: #121212;
                color: #ffffff;
            }
                
        </style>
    </head>
</head>
<body>
    <form method="post" action="/">
        <input type="submit" value="Home Button" name="/" style="background-color: #3374FF; color: white; padding: 10px 20px; font-weight: bold;"/>
    </form>
    <h1 style="color: #02b44f;">Please use your DrewID to login</h1>

    <form method="post" action="/loginButtonP">
        <input type="submit" value="Login" name="/loginP" style="background-color: #FF5733; color: white; padding: 10px 20px; font-weight: bold;"/>
    </form>

    <script>
        // Apply theme based on stored preference or default to light mode
        let storedTheme = localStorage.getItem("theme") || "light";
        document.body.setAttribute("data-theme", storedTheme);
    </script>

</body>
</html>