<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<body>

    <div class="navbar"> 
      <a href="/homeButtonP"><i class="fa fa-fw fa-home"></i> Home</a> 
      <a href="/settingsButtonP"><i class="fa fa-fw fa-gear"></i> Settings</a> 
      <a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
    </div>
    
</body>
</html>