<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Page</title>
</head>
<body>
    <h1>Faculty Members</h1>

    <ul>
        {% for faculty_member in faculty_members %}
            <li>{{ faculty_member.FirstName }} {{ faculty_member.LastName }} - {{ faculty_member.Department }}</li>
        {% endfor %}
    </ul>
</body>
</html>
