{% include 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/settingsP.css">
    <title>Settings</title>
</head>
<body>
    <!-- Toggle Switch -->
    <label class="switch">
        <input type="checkbox" id="themeToggle">
        <span class="slider"></span>
    </label>

    <span id="themeLabel">Dark Theme</span>

    <script>
        document.getElementById("themeToggle").addEventListener('change', function() {
            let labelElement = document.getElementById("themeLabel");
            if(this.checked) {
                document.body.setAttribute("data-theme", "dark");
                localStorage.setItem("theme", "dark");
                labelElement.textContent = "Light Theme";  // Change label to "Light Theme" when dark mode is on
            } else {
                document.body.setAttribute("data-theme", "light");
                localStorage.setItem("theme", "light");
                labelElement.textContent = "Dark Theme";  // Change label back to "Dark Theme" when dark mode is off
            }
        });
            // Apply theme based on stored preference or default to light mode
            let storedTheme = localStorage.getItem("theme") || "light";
                document.body.setAttribute("data-theme", storedTheme);
            if (storedTheme === "dark") {
                document.getElementById("themeToggle").checked = true;
                document.getElementById("themeLabel").textContent = "Light Theme";
}
    </script>
</body>
</html>
